#NEXT
NEXT_PUBLIC_SITE_URL=http://localhost:3000

#APPWRITE
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=
APPWRITE_DATABASE_ID=
APPWRITE_USER_COLLECTION_ID=
APPWRITE_ITEM_COLLECTION_ID=
APPWRITE_BANK_COLLECTION_ID=
APPWRITE_TRANSACTION_COLLECTION_ID=
NEXT_APPWRITE_KEY=b2b02e39278869b797043423022ac3320aa76bcd60d800a766784c7bb5365a1f4ed20977604f7aac39c482d974d75e214d5ad225053e31b6a298689add157936aefa44aaa404916618b8c3e0650f7ef1d2dc68da3a8a1bcec64f11c883cc124b3b4c5c1bbd35ddfe4dd41f0bb7fda663aa987ba384d91f4c3cb85d320c365eb1


#PLAID
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=
PLAID_PRODUCTS=
PLAID_COUNTRY_CODES=

#DWOLLA
DWOLLA_KEY=
DWOLLA_SECRET=
DWOLLA_BASE_URL=
DWOLLA_ENV=